body {
    background-color: #333;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

.game-container {
    border: 2px solid #fff;
    background-color: #000;
}

.score-container {
    margin-top: 20px;
    font-size: 1.5em;
}
